$animationDur: 20s;
.space,
.stars, .gamecont {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stars {
  background-image: radial-gradient(2px 2px at 20px 30px, #eee, rgba(0, 0, 0, 0)),
  radial-gradient(2px 2px at 40px 70px, #fff, rgba(0, 0, 0, 0)),
  radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0, 0, 0, 0)),
  radial-gradient(2px 2px at 90px 40px, #fff, rgba(0, 0, 0, 0)),
  radial-gradient(2px 2px at 130px 80px, #fff, rgba(0, 0, 0, 0)),
  radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 200px 200px;
  animation: zoom $animationDur infinite;
  opacity: 0;
  z-index: 1;
}

.stars:nth-child(1) {
  background-position: 50% 50%;
  animation-delay: 0s - $animationDur/2;
}

.stars:nth-child(2) {
  background-position: 20% 60%;
  animation-delay: ($animationDur / 5 ) * 2 - $animationDur/2;
}

.stars:nth-child(3) {
  background-position: -20% -30%;
  animation-delay: ($animationDur / 5 ) * 3 - $animationDur/2;
}

.stars:nth-child(4) {
  background-position: 40% -80%;
  animation-delay: ($animationDur / 5 ) * 4 - $animationDur/2;
}

.stars:nth-child(5) {
  background-position: -20% 30%;
  animation-delay: $animationDur / 2;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    animation-timing-function: ease-in;
  }

  85% {
    opacity: 1;
    transform: scale(2.8);
    animation-timing-function: linear;
  }

  100% {
    opacity: 0;
    transform: scale(3.5);
  }
}

/* Demo syles
------------------------------------- */

.space {
  background: rgb(0, 0, 0);

}

.blue-nova {
  position: absolute;
  // transform: rotate(40deg);
  background: radial-gradient(ellipse at top, rgba(7, 7, 107, 0.582), rgb(0, 0, 0)),
  radial-gradient(ellipse at bottom, rgb(197, 58, 58), rgb(0, 0, 0));
  // radial-gradient(ellipse at top  , rgb(12, 12, 71) 0,rgb(0, 0, 0) 50%, rgb(0, 0, 0) 100%), radial-gradient(ellipse at bottom , rgb(182, 212, 11) 0,rgb(0, 0, 0) 50%, rgb(0, 0, 0) 100%)  ;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  z-index: 1;
  background-color: blue;
}
