@font-face {
  font-family: "Quicksand";
  src: url("../../assets/fonts/Quicksand-Bold.ttf");
}

.question {
  display: inline-block;
  $stroke-size1: 3px;
  $blur-size1: 4px;
  $shadow-color1: #ffffff;
  $stroke-size2: 2px;
  $blur-size2: 2px;
  $shadow-color2: #0a14a7;
  font-family: "Quicksand";
  width: 70%;
  left: 15%;
  position: relative;
  z-index: 30;
  // background-color: rgba(0, 128, 0, 0.705) ;
  color: rgb(252, 248, 42);
  font-size: 40px;
  text-align: center;
  text-shadow: (-1 * $stroke-size2) (-1 *$stroke-size2) $blur-size2 $shadow-color2, $stroke-size2 $stroke-size2 $blur-size2 $shadow-color2, (-1 * $stroke-size2) $stroke-size2 $blur-size2 $shadow-color2, $stroke-size2 (-1 * $stroke-size2) $blur-size2 $shadow-color2, (-1 * $stroke-size1) (-1 *$stroke-size1) $blur-size1 $shadow-color1, $stroke-size1 $stroke-size1 $blur-size1 $shadow-color1, (-1 * $stroke-size1) $stroke-size1 $blur-size1 $shadow-color1, $stroke-size1 (-1 * $stroke-size1) $blur-size1 $shadow-color1;
}
